<div id="popup-bg" class="hide">
    <div id="popup">
        <span id="close">x</span>
        <form id="create-event-form">
            <h4>Create Event</h4>
            <hr>
            <div>
                <label>
                    <span>Event Title</span>
                    <input id="event-title" class="popup-inputs" type="text" required>
                </label>
                <label>
                    <span>Admin Password</span>
                    <input id="admin-pass" class="popup-inputs" type="text" required>
                </label>
                <label>
                    <span>OC Password</span>
                    <input id="oc-pass" class="popup-inputs" type="text" required>
                </label>
                <label>
                    <span>Email/Phone</span>
                    <input id="contact" class="popup-inputs" type="text" required>
                    <p>*This contact will be used in case you forgot any of the passwords</p>
                </label>
                <button type="submit">CREATE NEW EVENT</button>
            </div>
        </form>
    </div>
</div>