<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/attendance.css">
</head>
<body>
    <nav>
        <h1>
            <a href="/">ATTENDIFY</a>
        </h1>
    </nav>
    <div>
        <div id="attendance-container">
            <table id="attendance-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Reg No</th>
                        <th>Phone No</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even">
                        <td>1</td>
                        <td>Danny</td>
                        <td>24BCE5223</td>
                        <td>7736172706</td>
                        <td><input type="checkbox" class="attendance-toggle" /></td>
                    </tr>
                    <tr class="odd">
                        <td>1</td>
                        <td>Danny</td>
                        <td>24BCE5223</td>
                        <td>7736172706</td>
                        <td><input type="checkbox" class="attendance-toggle" /></td>
                    </tr>
                    <tr class="even">
                        <td>1</td>
                        <td>Danny</td>
                        <td>24BCE5223</td>
                        <td>7736172706</td>
                        <td><input type="checkbox" class="attendance-toggle" /></td>
                    </tr>
                    <tr class="odd">
                        <td>1</td>
                        <td>Danny</td>
                        <td>24BCE5223</td>
                        <td>7736172706</td>
                        <td><input type="checkbox" class="attendance-toggle" /></td>
                    </tr>
                    <tr class="even">
                        <td>1</td>
                        <td>Danny</td>
                        <td>24BCE5223</td>
                        <td>7736172706</td>
                        <td><input type="checkbox" class="attendance-toggle" /></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>