<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendify</title>
    
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/popup/popup.css">
    <link rel="stylesheet" href="/index.css">

    <script type="module" src="./global.js" defer></script>
    <script type="module" src="./popup/popup.js" defer></script>
    <script type="module" src="./index.js" defer></script>
</head>
<body>
    <nav>
        <h1>
            <a href="/">ATTENDIFY</a>
        </h1>
    </nav>
    <div id="events">
        <div id="events-header">
            EVENTS LIST:
            <button id="create-event">Create</button>
        </div>
        <div id="events-body">
            <div id="create-event-card" class="hide">
                No Events Created
                <br>
                Create A New Event
            </div>
        </div>
    </div>
    <div id="popup-bg" class="hide">
        <div id="popup">
            <span id="close">x</span>
            <form id="popup-form">
                
            </form>
        </div>
    </div>
</body>
</html>