html,body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
}
/* nav{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 15px var(--white3);
    padding: 0 15% 0 15%;
    box-sizing: border-box;
    font-size: 2rem;
    color: var(--white1) !important;
} */
body > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#input-type{
    height: 60px;
    width: min(90%,700px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: var(--black2);
    border-radius: 8px;
    position: relative;
}
/* #upload-csv, #manual-entry{
    transition: background-color 0.5s ease-in-out;
} */
#input-type > span{
    height: 30px;
    width: 45%;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    padding: 5px 0 5px 0;
    border-radius: 8px;
    background-color: transparent;
    z-index: 1;
    cursor: default;
}
#input-type > span#background-blob{
    position: absolute;
    width: 45%;
    background-color: var(--black3);
    transition: transform 0.5s ease-in-out;
}
#background-blob.left{
    transform: translateX(-54%);
}
#background-blob.right{
    transform: translateX(54%);
}
#participant-form{
    height: fit-content;
    width: min(90%,700px);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--black2);
    border-radius: 10px;
}
#csv-input-div{
    width: max(80%,300px);
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--black3);
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    display: grid;
    place-items: center;
}
#csv-input-div code{
    display: grid;
    place-items: center;
}
#csv-input-div label{
    width: max(200px, 70%);
    padding: 10px 0 10px 0;
    border: solid var(--white3) 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#csv-input-div input::file-selector-button{
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 8px;
    background-color: var(--white3);
}
#manual-input-div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#manual-input-div > label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#manual-input-div > label div{
    aspect-ratio: 1/1;
    height: 50px;
    background-color: var(--black1);
    display: grid;
    place-items: center;
    border-radius: 8px 0 0 8px;
}
#manual-input-div > label svg{
    fill: var(--black5);
}
#manual-input-div input{
    flex: 1;
    min-width: 0;
    border: solid transparent 4px;
    background-color: var(--black3);
    color: var(--white3);
    border-radius: 0 8px 8px 0;
    padding-left: 15px;
    font-family: inherit;
    font-size: 0.9rem;
}
#manual-input-div input:focus{
    border: solid var(--black1) 4px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#participant-form-submit-btn{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    background-color: var(--white3);
    transition: background-color 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}
#participant-form-submit-btn:hover{
    background-color: var(--white5);
    transform: scaleY(1.1);
}
@media(max-width: 700px){
    #csv-input-div{
        font-size: 0.9rem;
    }
    #csv-input-div input{
        width: 100px;
    }
}